.pla-collapse {
	--pla-collapse-header-font-size: 23px;
	--pla-collapse-header-text-color: #{lighten(#000, 20%)};
	--pla-collapse-header-height: 48px;
	--pla-collapse-content-text-color: #{lighten(#000, 40%)};
	--pla-collapse-content-font-size: 14px;
	--pla-collapse-bg-color: var(--pla-bg-color);
	--pla-collapse-border-color: var(--pla-border-color);
}
.pla-collapse {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 24px;
	margin: 0.5px;
	background-color: var(--pla-collapse-bg-color);
	border: var(--pla-border);
	font-weight: 500;
	line-height: 1.5;

	.pla-collapse-item {
		width: 100%;
		border-bottom: var(--pla-collapse-border-color);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		overflow: hidden;

		&:first-child {
			border-top: var(--pla-collapse-border-color);
		}
		&:last-child {
			border-bottom: var(--pla-collapse-border-color);
		}

		.pla-collapse-item__header {
			width: 100%;
			height: var(--pla-collapse-header-height);
			font-size: var(--pla-collapse-header-font-size);
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: var(--pla-bg-color);
			color: var(--pla-collapse-header-text-color);
			cursor: pointer;
			.pla-collapse-item__icon {
				width: 24px;
				height: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 10px;
				transition: transform var(--pla-transition-duration);
			}
		}

		.pla-collapse__body {
			width: 100%;
			.pla-collapse-item__content {
				box-sizing: border-box;
				width: 100%;
				padding: 0 0 25px;
				overflow: hidden;
				background-color: var(--pla-bg-color);
				font-weight: 400;
				color: var(--pla-collapse-content-text-color);
				font-size: var(--pla-collapse-content-font-size);
			}
		}

		&.is-active {
			.pla-collapse-item__icon {
				transform: rotate(90deg);
			}
		}

		&.is-disabled {
			--pla-collapse-header-text-color: var(--pla-disabled-text-color);
		}
	}
}
