@use "@pla-element/theme/mixins/types/diff-types-all" as all;
@use "@pla-element/theme/mixins/bem";
@include bem.b('button') {
	--pla-button-text-color: #fff;
	--pla-button-border-color: var(--pla-color-primary);
	--pla-button-bg-color: var(--pla-color-primary);
	--pla-button-padding: 8px 16px;
	--pla-button-height: 32px;
	--pla-button-font-size: 14px;
	--pla-button-border-radius: 4px;
}

@include bem.b('button') {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	height: var(--pla-button-height);
	font-weight: 600;
	background-color: var(--pla-button-bg-color);
	white-space: nowrap;
	cursor: pointer;
	color: var(--pla-button-text-color);
	text-align: center;
	box-sizing: border-box;
	padding: 8px 16px;
	outline: none;
	transition: 0.1s;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	border: var(--pla-border);
	border-color: var(--pla-button-border-color);
	& + .pla-button {
		margin-left: 8px;
	}

	@include all.diff-types-all(button);

	@include bem.m('small') {
		--pla-button-height: 24px;
		--pla-button-padding: 4px 12px;
		--pla-font-size: 12px;
		--pla-button-border-radius: 2px;
	}

	@include bem.m('large') {
		--pla-button-height: 40px;
		--pla-button-padding: 4px 12px;
		--pla-font-size: 14px;
		--pla-button-border-radius: 6px;
	}

	@include bem.s('round') {
		border-radius: 4px;
	}

	@include bem.s('circle') {
		border-radius: 50%;
	}

	@include bem.s('loading') {
		@include bem.e('loading-icon') {
			animation: loading 1s infinite linear;
		}
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@include bem.b('button-group'){
	display: inline-block;
	justify-content: center;
	align-items: center;
	@include bem.b('button') {
		border-radius: 0;
		margin-left: 0 !important;
		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		&:not(:last-child) {
			border-right: var(--pla-border);
		}
	}
}
