.pla-loading__box {
	position: absolute;
	inset: 0;
	font-size: large;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(1, 1, 1, 0.2);
	&.pla-loading__box--fullscreen {
		position: fixed;
	}
	& > span {
		padding: 5px;
	}
  .pla-loading__icon {
    animation: rotate 1s ease-in-out infinite;
  }
}
.pla-loading-enter-from,
.pla-loading-leave-to {
	opacity: 0;
}
.pla-loading-enter-active {
	transition: all 0.3s ease-in;
}
.pla-loading-leave-active {
	transition: all 0.3s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}