@use "@pla-element/theme/variables/types.scss" as *;

.pla-alert {
	--pla-alert-padding: 8px 16px;
	--pla-alert-border-radius: 4px;
	--pla-alert-type: var(--pla-type-primary);
	--pla-alert-bg-color: var(--pla-color-primary);
	--pla-alert-border-color: var(--pla-color-primary);
	--pla-alert-text-color: #fff;
}

.pla-alert {
	padding: var(--pla-alert-padding);
	background-color: var(--pla-alert-bg-color);
	border: var(--pla-border);
	border-color: var(--pla-alert-border-color);
	border-radius: var(--pla-alert-border-radius);
	display: flex;
	color: var(--pla-alert-text-color);

	.pla-alert__content {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.pla-alert__title {
			font-size: 18px;
		}

		.pla-alert__description {
			font-size: 14px;
		}

		&.is-center {
			justify-content: center;
		}
	}

	.pla-alert__close-icon {
		margin-left: auto;
		align-self: baseline;
	}

	&.is-dark {
		@each $type in $types {
			&.pla-alert--#{$type} {
				--pla-alert-bg-color: var(--pla-color-#{$type});
				--pla-alert-border-color: var(--pla-color-#{$type});
			}
		}
	}

	&.is-light {
		@each $type in $types {
			&.pla-alert--#{$type} {
				--pla-alert-text-color: var(--pla-color-#{$type});
				--pla-alert-bg-color: var(--pla-color-#{$type}-7);
				--pla-alert-border-color: var(--pla-color-#{$type});
			}
		}
	}

	.pla-alert-move {
		transition: var(--pla-transition-duration);
	}
}
